#Remember to set this coding in .lang file :D
English: .1252
Polish: .1250
#Afrikaans: .1252
#Albanian: .1250
##Arabic: .1256
#Azeri-Cyrllic: .1251
#Azeri-Latin: .1254
#Basque: .1252
#Belarusian: .1251
#Bulgarian: .1251
#Catalan: .1252
#Croatian: .1250
#Czech: .1250
#Danish: .1252
#Dutch: .1252
#English: Locale at the beginning of this file
#Estonian: .1257
#Finnish: .1252
#French: .1252
#Galician: .1252
#German: .1252
#Greek: .1253
#Hebrew: .1255
#Hungarian: .1250
#Icelandic: 1252
#Indonesian: .1252
#Italian: .1252
#Kazakh: .1251
#Kyrgyz-Cyrllic: .1251
#Latvian: .1257
#Lithuanian: .1257
#Malay: .1252
#Mongolian: .1251
#Norwegian: .1252
#Polish: Locale at the beginning of this file
#Portugese: .1252
#Romanian: .1250
#Russian: .1251
#Serbian-Cyrllic: .1251
#Serbian-Latin: .1250
#Slovak: .1250
#Slovenian: .1250
#Spanish: .1252
#Swahili: .1252
#Swedish: .1252
#Tatar: .1251
#Turkish: .1254
#Urdu: .1256
#Uzbek-Cyrllic: .1251
#Uzbek-Latin: .1254
#Vietnamese: .1258